<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script src="https://unpkg.com/mermaid@7.1.0/dist/mermaid.js"></script>
    <script>
        mermaid.initialize({startOnLoad: true, theme: 'dark'});
    </script>

  </body>

</html>
